{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quod sint eligendi, illum facilis hic accusantium provident sapiente impedit veniam. Praesentium porro, recusandae vero dolore placeat et beatae atque quidem odit saepe est 
                voluptas vitae quaerat corrupti maiores natus assumenda perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse similique laboriosam repudiandae dolores quo, 
                quis placeat, magnam nemo repellat vitae obcaecati, et quisquam aperiam unde asperiores quasi? Veniam fugiat tempora consequuntur rem accusantium unde temporibus sint, maiores atque autem sit.
                Commodi optio quas delectus debitis nihil temporibus quam, cumque error eius doloremque ducimus inventore aliquam reiciendis iure eos voluptas. Maiores quisquam eos blanditiis, quas placeat molestiae, 
                totam libero, veniam in fugit illo iusto dolor commodi iste. Nesciunt laboriosam error ratione magni alias. 
                Obcaecati odit ipsa quisquam sint assumenda. Tenetur cupiditate et ex in pariatur alias ipsum non consequatur quisquam facere.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quod sint eligendi, illum facilis hic accusantium provident sapiente impedit veniam. Praesentium porro, recusandae vero dolore placeat et beatae atque quidem odit saepe est 
                voluptas vitae quaerat corrupti maiores natus assumenda perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse similique laboriosam repudiandae dolores quo, 
                quis placeat, magnam nemo repellat vitae obcaecati, et quisquam aperiam unde asperiores quasi? Veniam fugiat tempora consequuntur rem accusantium unde temporibus sint, maiores atque autem sit.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quod sint eligendi, illum facilis hic accusantium provident sapiente impedit veniam. Praesentium porro, recusandae vero dolore placeat et beatae atque quidem odit saepe est 
                voluptas vitae quaerat corrupti maiores natus assumenda perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse similique laboriosam repudiandae dolores quo, 
                quis placeat, magnam nemo repellat vitae obcaecati, et quisquam aperiam unde asperiores quasi? Veniam fugiat tempora consequuntur rem accusantium unde temporibus sint, maiores atque autem sit.
            </p>
        </div>
    </div>
</div>

{% endblock content %}